.card{
    &__title{
        font-family: "Inter", sans-serif;
        font-weight: 700;
        color: $color-white;
        
        span {
            color: $color-soft-violet;
        }
    }

    &__paragraph{
        color: $color-white-transparent-paragraph-1;
        font-size: 0.9rem;
    }

    &__info{
        font-family: "Lexend Deca";

        &-number{
            color: white;
            font-weight: 700;
            font-size: 1.2rem;
        }

        &-word{
            font-size: 0.9rem;
            color: $color-white-transparent-paragraph-2;
            text-transform: uppercase;
            font-weight: 400;
        }
    }
}


