header{
    padding-top: 3rem;
    margin-bottom: 14rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    img{
        width: 56%;
        transform: translateY(2rem);

    }

    .text{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        padding-right: 5.5rem;
        width: 44%;

        h1, p{
            padding-bottom: 2rem;
        }

        .btn{
            background-color: $color-pink;
            width: 55%;
        }
    }
}