@media (max-width: 1201px) {
    
    .background-img{
        width: 80% !important;
        transform: translateX(-14rem) !important;
    }

    .carta{
        flex-direction: column !important;
        top: 107% !important;

        .col-6{
            width: 90%;
            height: 35rem;

            &:last-child{
                margin-left: 0 !important;
            }
        }

        .texto{
            text-align: center;
        }
        
        .mobile{

            &::after{
                content: "";
                background-color: white;
                width: 40% !important;
    
                position: absolute;
                top: 0;
                left: 20% !important;
                z-index: 0;
            }

            i{
                top: 57.8% !important;
                left: 78% !important;
            }
        }
    }
} 