//COLORS

    //Text

$color-pale-violet: rgb(216, 158, 255); // sub-heading at the top of the app UI
$color-moderate-violet : rgb(146, 65, 200); // chat on the left
$color-desaturated-dark-violet: rgb(110, 93, 126); // chat on the right
$color-grayish-Blue: rgb(198, 202, 205); // placeholder text
$color-very-dark-desaturated-violet: rgb(62, 39, 83); // main heading
$color-dark-grayish-violet: rgb(234, 234, 235); // paragraph

    // Gradients

$color-light-magenta: rgb(233, 66, 255);
$color-light-violet: rgb(136, 56, 255);

$color-white: rgb(255, 255, 255);
$color-light-grayish-violet: rgb(245, 243, 247); // app background
$color-very-dark-desaturated-violet: rgb(62, 39, 83); // submit button background
$color-very-light-magenta: rgb(229, 112, 255); // radio button outline

//FONTS

$font-regular-size: 16px;