@media (max-width: 992px) {
    .cards{
        grid: 
        " left "
        " top "
        " bottom "
        " right ";
        gap: 2rem;
        .mx-5{
            margin: 0 !important;
        }

        &-builder{
            margin: 0 !important;
        }
    }
}

@media (min-width: 993px){
    .cards{
        grid:
        " . top . "
        " left top right"
        " left bottom right"
        " . bottom .";

        
    }

       
}