@media (min-width: 576px){
    .container, .container-sm {
        max-width: 402px !important;
    }
}

@media (min-width: 767px){
    .container, .container-sm, .container-md {
        max-width: 402px !important;
    }
}   

@media (min-width: 991px){
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 402px !important;
    }
}

@media (min-width: 1200px){
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1140px !important;
    }
}

@media (min-width: 1400px){
    .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
        max-width: 1320px !important;
    }
}
