.mobile{
    
    &-topside{

        &-intro{

            &-text{

                &-title{
                    font-weight: 700 !important;
                    font-size: 18px;
                }

                &-paragraph{
                    opacity: 0.5;
                    font-size: 14px;
                }
            }
        }
    }

    &-body{

        .text-type-1{
            
            p{
                color: $color-moderate-violet;
            }
        }

        .text-type-3{
            color: $color-white;

            p{
                opacity: 0.75;
            }
        }

        .text-type-1, .text-type-2, .text-type-3{
            
            p{
                font-size: 12px;
            }
        }

    }
}

.texto{
    h2{
        color: $color-very-dark-desaturated-violet;
    }

    p{
        opacity: 0.5;
    }
}