.card{
    &-title{
        font-family: "Big Shoulders Display", sans-serif !important;
        text-transform: uppercase;
        color: $color-light-grey;
        font-size: 40px;
    }

    &-text{
        font-family: "Lexend Deca", sans-serif !important;
        color: $color-white;
        font-size: $font-size-regular;
    }

    a{
        font-family: "Lexend Deca", sans-serif !important;
        font-size: $font-size-regular;
    }
}