@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 26.6em){ // 425px
            @content;
        }
    }

    @if $breakpoint == desktop {
        @media (min-width: 26.7em){ // 1440px
            @content;
        } 
    }
}