//COLORS

$color-dark-blue: rgb(9, 11, 26);
$color-dark-desaturated-blue: rgb(27, 25, 56);
$color-soft-violet: rgb(170, 91, 219);

$color-white: rgb(255, 255, 255);
$color-white-transparent-paragraph: rgba(255, 255, 255, 0.75);
$color-white-transparent-paragraph: rgba(255, 255, 255, 0.6);

//FONT

$font-size-regular: 15px;