nav{
    background-color: $color-signup-blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;

    .lista{
        display: flex;
        flex-direction: row;

        p{
            padding-right: 3rem;
        }
    }
}