.btn{
    font-family: "Open Sans", sans-serif !important;
    font-weight: 700 !important;
}

header{

    .text{

        h1{
            font-family: "Poppins";
            font-weight: 600;
            line-height: 4rem;
        }
    }

    .btn{
        color: $color-white;
    }
}