.btn{
    font-family: "Open Sans", sans-serif !important;
    font-weight: 700 !important;
}

h1, h2, h3, h4, h5{
    font-family: "Open Sans", sans-serif !important;
    font-weight: 700 !important;
}

header{

    .text{

        h1{
            line-height: 4rem;
        }
    }

    .btn{
        color: $color-white;
    }
}

main{

    .card{

        .col-7{

            p{
                color: $color-blue;
            }
        }
    }

    .prefooter{

        .btn{
            color: $color-white;
        }
    }
}