header{
    padding-top: 3rem;
    margin-bottom: 10rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;

    img{
        width: 56%;
        transform: translateY(2rem);

    }

    .text{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 5rem;

        p{
            width: 40%;
        }

        h1, p{
            padding-bottom: 2rem;
        }

        .btn{
            background-color: $color-pink;
            width: 25%;
            align-self: center;

            &:hover{
                color: $color-white;
                background-color: $color-light-pink;
            }
        }
    }

    .text, img{
        text-align: center;
    }
}