//COLORS

$color-bright-orange: rgb(226, 135, 38);
$color-dark-cyan: rgb(0, 104, 112);
$color-very-dark-cyan: rgb(0, 66, 65);

$color-white: rgba(255, 255, 255, 0.75);
$color-light-grey: rgb(242, 242, 242);

//FONTS

$font-size-regular: 15px;