//COLORS

$color-bright-orange: rgb(227, 136, 38);
$color-dark-cyan: rgb(0, 104, 112);
$color-very-dark-cyan: rgb(0, 66, 65);

$color-white: rgba(255, 255, 255, 0.75); //paragraphs
$color-light-grey: rgb(242, 242, 242); //background, headings, buttons

//FONTS

$font-size-regular: 15px;