* {
    margin: 0;
    padding: 0;
}

body{
    background-color: $color-dark-cyan !important;
}

.img-1{
    position: absolute;
    transform: translate(-25rem,-25rem);
}

.img-2{
    position: fixed;
    transform: translate(45rem, 20rem);
}