@media (max-width: 769px) {
    header{
        img, .text, .btn{
            width: 90% !important;
        }
    }

    main{

        .tools{
            display: grid;
            grid-template-columns: 1fr; 
            grid-template-rows: repeat(4, 1fr);

            .text{
                width: 100%;
            }
        }
    }
}

@media (max-width: 1238px){
    main{
        .big-card{
            justify-content: center;

            .img, .text, h2{
                width: 90% !important;
            }

            .text{
                margin-top: 3rem;
            }
        }
    }
}

@media (max-width: 834px){
    .review{
        display: grid;
        grid-template-columns: 1fr !important; 
        grid-template-rows: 1fr 1fr 1fr !important; 
        gap: 3em;
    }
}

@media (max-width: 913px){
    .prefooter{
        width: 80% !important;
        transform: translateX(13%) !important;

        &-form{
            flex-direction: column !important;

            .btn, .input{
                width: 80% !important;
            }

            .btn{
                margin-top: 2rem;
                padding: 0.7rem !important;
            }
        }
    }
}

@media (max-width: 991px){
    footer{
        padding-left: 2rem !important;
        padding-right: 2rem !important;

        .row{
            flex-direction: column !important;

            .col-4, .col-3, .col-2{
                width: 90%;
            }

            .col-3-1{
                align-items: flex-start !important;
                
                .phone{
                    transform: translateX(0) !important;
                }
            }

            .col-3-2{
                flex-direction: column !important;

                ul{
                    padding-left: 0;
                }

                .line2{
                    margin-top: 2rem;
                }
            }

            .col-2{
                justify-content: center;
            }
        }
    }
}