//COLORS
$color-signup-blue: rgb(28, 36, 49);
$color-main-blue: rgb(24, 31, 42);
$color-footer-blue: rgb(11, 21, 35);
$color-reviews-blue: rgb(32, 42, 60);


$color-cyan: rgb(101, 226, 217);
$color-blue: rgb(51, 158, 204);
$color-light-red: rgb(255, 66, 66);


$colo-white: hsl(0, 0%, 100%);


//FONT

$font-regular-size: 14px;