.column-1{
    h1{
        font-size: 3rem !important;
        color: $color-dark-magenta;
    }

    p{
        color: $color-dark-grayish-magenta;
    }
}

.card{

    &-title, &-text, .text-muted{
        font-family: "Spartan", sans-serif !important;
    }

    .text-muted{
        color: $color-soft-pink !important;
    }

    &-title{
        font-weight: 700;
    }

    &-title, &-text{
        color: $color-white;
    }

    &-text{
        font-weight: 400;
        font-size: $font-size-regular;
    }
}