h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600 !important;
}

p, .btn{
    font-family: "Open Sans", sans-serif !important;
}

h1, p{
    color: $color-white;
}

.btn{
    font-size: 18px !important;
}