//COLORS

$color-dark-cyan: rgb(25, 162, 174); 
$color-dark-desaturated-blue:  rgb(45, 50, 72);
$color-dark-blue: rgb(106, 111, 129);

$color-grey: rgb(150, 150, 150);

//FONTS

$font-size-regular: 18px;