.card {
    background-color: $color-dark-desaturated-blue !important;
}

@media (min-width: 768px){
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 576px !important;
    }
}


@media (min-width: 992px){
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 576px !important;
    }
}

@media (min-width: 1200px){
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1320px !important;
    }
}