@media (max-width: 991px){
    header{
        .row{
            flex-direction: column;

            .col-md-5{
                order: 2;
                text-align: center;

                .form{
                    flex-direction: column !important;
                    align-items: center;

                    &>*{
                        width: 90% !important;
                    }

                    .input{
                        margin-bottom: 1rem;
                    }
                }
            }

            .col-md-7{
                order: 1;
            }

            .col-md-5, .col-md-7{
                width: 100%;
            }
        }
    }

    main{
        .row{
            flex-direction: column;
            
            .mainlogo{
                order: 1;
            }

            .texto{
                order: 2;
                align-items: center;

                h1{
                    text-align: center;
                }
            }

            .col-md-6{
                width: 100%;
            }

            .text{
                text-align: center;
                padding: 0;
            }

            .form{
                align-items: center;

                .input{
                    margin-bottom: 1rem;
                }

                .btn{
                    width: 80%;
                }
            }
        }
    }
}