nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    img{
        max-width: 10rem;
        width: 15vw;
    }

    .options{
        display: flex;
        flex-direction: row;

        p:not(:last-child){
            padding-right: 3rem;
        }
    }
}