.cards{
    display: grid;

    p{
        margin-bottom: 0 !important;
    }

    .card-top{
        position: relative;
        display: flex;
        flex-direction: row;
    
        &-img{
            width: 3rem;
        }
    
        &-texto{
            position: relative;
            display: flex;
            flex-direction: column;
        }
    }

    &-Daniel{
        grid-area: Daniel;
        background-color: $color-violet !important;

        &-card-body{
            z-index: 100 !important;
        }

        &-background{
            width: 7.5rem;
            position: absolute;
            z-index: 0;
            left: 63%;
            top: 0%;
        }
    }

    &-Jonathan{
        grid-area: Jonathan;
        background-color: $color-grayish-blue !important;
    }

    &-Kira{
        grid-area: Kira;

    }

    &-Jeanette{
        grid-area: Jeanette;
    }

    &-Patrick{
        grid-area: Patrick;
        background-color: $color-blackish-blue !important;
    }

    &-Jonathan, &-Kira, &-Jeanette{
        .card-top{

            &-img{
                border: 3.2px solid $color-white !important;
            }
        }
    }

    &-Kira, &-Jeanette{
        background-color: $color-white !important;
    }

    &-Daniel, &-Patrick{

        .card-top{

            &-img{
                border: 3.3px solid $color-light-violet !important;
            }
        }
    }
}

