.card-top{
    position: relative;
    display: flex;
    flex-direction: row;
}


.cards{
    display: grid;

    &-Daniel{
        grid-area: Daniel;
        background-color: $color-violet !important;

        .card-top{

            &-img{
                width: 3rem;
                border: 3.3px solid $color-light-violet !important;
            }
        
            &-texto{
                position: relative;
                display: flex;
                flex-direction: column;

                p{
                    margin-bottom: 0 !important;
                }
            }
        }

        &-card-body{
            z-index: 100 !important;
        }

        &-background{
            width: 7.5rem;
            position: absolute;
            z-index: 0;
            left: 63%;
            top: 0%;
        }
    }

    &-Jonathan{
        grid-area: Jonathan;
    }

    &-Kira{
        grid-area: Kira;
    }

    &-Jeanette{
        grid-area: Jeanette;
    }

    &-Patrick{
        grid-area: Patrick;
    }
}

