//COLORS

$color-gradient: rgb(255, 163, 153),rgb(255, 77, 151);

$color-pale-blue: rgb(221, 219, 255);
$color-grayish-blue: rgb(132, 135, 148);
$color-dark-blue: rgb(29, 44, 103);
$color-very-dark-blue: rgb(12, 18, 44);

$color-white: rgb(255, 255, 255);

//FONTS

$font-regular-size: 14px;