//COLORS

$color-dark-magenta: rgb(80, 32, 80);
$color-soft-pink: rgb(238, 104, 164);

$color-dark-grayish-magenta: rgb(147, 123, 146);
$color-light-grayish-magenta: rgb(247, 242, 247);
$color-white: rgb(255, 255, 255);

//FONT

$font-size-regular: 15px;