*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans", sans-serif !important;
    font-size: $font-regular-size !important;
    font-weight: 400 !important;
    color: $color-white !important;
}