h1, h2, h3, h4, h5, .btn {
    font-family: "Raleway", sans-serif !important;
    font-weight: 700 !important;
}

.btn{
    color: $color-white !important;
}

header{
    .text{
        text-align: center;
    }
}