//COLORS

$color-pink: rgb(255, 82, 191);
$color-light-cyan: rgb(235, 251, 255);
$color-dark-cyan: rgb(0, 37, 46);
$color-blue: rgb(128, 141, 153);

$color-white: rgb(255, 255, 255);

//FONT

$gont-regular-size: 18px;