//COLORS

$color-dark-blue: rgb(9, 11, 26);
$color-dark-desaturated-blue: rgb(27, 25, 56);
$color-soft-violet: rgb(170, 91, 219);

$color-white: rgb(255, 255, 255);
$color-white-transparent-paragraph-1: rgba(255, 255, 255, 0.75);
$color-white-transparent-paragraph-2: rgba(255, 255, 255, 0.6);

//FONT

$font-size-regular: 15px;

//SPACING

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 2,
  5: $spacer * 5,
);
