@media (max-width: 993px){
    header{

        flex-direction: column !important;

        .text, img{
            width: 100% !important;
            text-align: center;
        }

        .text{
            padding-left: 5rem;
        }

        .btn{
            width: 80% !important;
            align-self: center;
        }
    }
}