@media (max-width: 993px){
    
    main{

        .card{
            padding-bottom: 3rem;
            margin: 8rem 1rem;

            .row{
                flex-direction: column !important;

                .col-5{
                    order: 1;
                    margin-bottom: 4rem;
                }

                .col-7{
                    order: 2;
                    text-align: center;
                    padding: 0 4rem;
                }
                
                .col-7, .col-5{
                    width: 100%;
                }
            }
        }

        .prefooter{
            h2{
                text-align: center;
            }
            
            .btn{
                width: 80% !important;
                align-self: center;
            }
        }
    }

    footer{

        .row{
            flex-direction: column;
            padding: 0 3rem !important;

            .intro{
                order: 2;
            }

            .newsletter{
                order: 1;
                margin-bottom: 2rem;
            }

            &>*{
                width: 100%;
            }
        }
    }
}