html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
}

#title{
    font-family: 'Dancing Script', sans-serif;
    font-size: 60px;
    text-align: center;
    margin: 10rem 0;
}

#countdown{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#days, #hours, #mins, #seconds{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 120px;
}


#days-box p, #hours-box p, #mins-box p, #seconds-box p{
    text-align: center;
    font-size: 18px;
}