.mac{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 7rem;

    &grid{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 5rem;

        &-photo{

            img{
                transform: translateX(-2rem);
            }
        }

        &-text{
            display: flex;
            flex-direction: column;
            width: 25%;
        }
    }
}