*{
    margin: 0;
    padding: 0;
}

body{
    padding: 5% 5%;
    background-color: $color-light-grey !important;
    font-family: "Poppins" !important;
    font-size: $font-regular-size !important;
}