@media (max-width: 1115px){
    .texto{
        width: 70% !important;
    }

    .macgrid{
        gap: 3rem !important;

        &-photo{
            width: 100%;
            img{
                transform: translateX(5rem) !important;
                width: 80%;
            }
        }

        &-text{
            margin: 0 10rem;
            width: 55% !important;

            h5, p{
                text-align: center;
            }
        }
    }
    
    .toolsgrid{
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr 1fr !important;
    }
}